body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.ecommerce-container {
  max-width: min(1200px,90%);
  margin: 0 auto;
  padding: 20px;
}

.app-title {
  color: black;
}

.app-subtitle {
  color : gray;
}
.cart-info {
  font-size: 1.1em;
  color: black;
  font-weight: bold;
  background-color: rgba(204, 204, 204, 0.5);
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-btn{
  background-color: black;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
}

.cart-btn:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 15px 0;
  margin-bottom: 20px;
}

.filter-button {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  color: black;
  cursor: pointer;
  font-size: 0.9em;
  transition: all 0.2s;
}

.filter-button:hover:not(.active) {
  background-color: #e0e0e0;
}

.filter-button.active {

  background-color: black;
  color: white;
  font-weight: bold;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px 10px 2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  background-color: #fff;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  margin: 5px 0;
  font-size: 1.2em;
}

.product-description {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 5px;
}

.product-category {
  font-size: 0.8em;
  color: #333;
  margin-bottom: 10px;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-price {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
}

.add-to-cart-button {
  padding: 8px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.on-cart{
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.add-to-cart-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full screen */
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}